@media screen {
    .md-header__button.md-logo {
      display: block;
    }

    .md-header__button.md-icon[for=__drawer] {
        display: none
    }
}

.green {
    color: hsl(121, 79%, 53%);
  }

  .red {
    color: hsl(0, 100%, 50%);
  }
  